display: ":0"
xauthority: "~/.Xauthority"

global:
  labels:
    app: ska-mid-integration
  minikube: false
  operator: true
  exposeAllDS: false
  taranta_auth_enabled: false
  taranta_dashboard_enabled: false
  sub-system:
    tango-base:
      enabled: false
    ska-tango-base:
      enabled: false
    ska-taranta:
      enabled: false
  retry:
    - "--sleep=3"
    - "--tries=100"
  tango_host: databaseds:10000
  device_server_port: 45450
  cluster_domain: techops.internal.skao.int # check with Ugur what it should be? it should be just cloud- cluster.local is what dev teams use
  dishes: ["001", "036", "063", "100"]

  data-product-pvc-name: shared
  dsconfig:
    timeout: 300s
    image:
      registry: artefact.skao.int
      image: ska-tango-images-tango-dsconfig
      tag: 1.5.1
      pullPolicy: IfNotPresent
  itango:
    image:
      registry: artefact.skao.int
      image: ska-tango-images-tango-itango
      tag: 9.3.10
      pullPolicy: IfNotPresent
  tango_example:
    image:
      registry: harbor.skao.int/production
      image: ska-tango-examples
      tag: 0.4.32
      pullPolicy: IfNotPresent

ska-tango-base:
  enabled: true
  vnc:
    replicas: 1
    enabled: true
  tangorest:
    replicas: 1
    enabled: true
    resources:
      requests:
        cpu: 100m # 100m = 0.1 CPU
        memory: 128Mi # 256Mi = 0.25 GB mem
        ephemeral-storage: 256Mi
      limits:
        cpu: 200m # 100m = 0.1 CPU
        memory: 768Mi # 256Mi = 0.25 GB mem
        ephemeral-storage: 256Mi
  tangotest:
    enabled: true
  ingress:
    enabled: true
    hostname: k8s.stfc.skao.int
  tangodb:
    use_pv: false

#=== TMC Mid ===#
#ska-tmc-mid:
#  dishleafnode:
#    image:
#      tag: 0.19.6 
#=== OSO ===#
# ska-oso-oet:
#   labels:
#     app: ska-mid-integration
#   system: TM-mid
#   telescope: SKA-mid
#   central_node: ska_mid/tm_central/central_node
#   subarray: ska_mid/tm_subarray_node
#   rest:
#     ingress:
#       enabled: false
#     oda:
#       backendType: rest
#       url: http://ska-db-oda-rest-test.button-dev-ska-db-oda:5000/button-dev-ska-db-oda/api/v1
#   resources:
#     requests:
#       cpu: 200m
#       memory: 256Mi
#     limits:
#       cpu: 2000m
#       memory: 1024Mi


#=== SDP ===#
ska-sdp:
  labels:
    app: ska-mid-integration
  enabled: true
  ska-tango-base:
    enabled: false
  lmc:
    prefix: mid
    nsubarray: 3
  data-pvc:
    create:
      enabled: true
      size: 20Gi
      storageClassName: nfss1

#=== CSP ===#
ska-csp-lmc-mid:
  labels:
    app: ska-tmc-mid-integration
  enabled: true

ska-mid-cbf-mcs:
  enabled: true

ska-pst-lmc:
  enabled: false

ska-mid-cbf-tmleafnode:
  enabled : true

#=== DISH ===#
ska-dish-lmc:
  enabled: true
  ska-tango-base:
    enabled: false

  ska-mid-dish-manager:
    enabled: true

  ska-mid-dish-ds-manager:
    enabled: true

  ska-mid-dish-simulators:
    enabled: true # dish simulator for other interfaces
    deviceServers:
      spfdevice:
        enabled: true
      spfrxdevice:
        enabled: true
    dsOpcuaSimulator:
      enabled: true

##tmc-mid
ska-tmc-mid:
  enabled: true
  legacy_compatibility: true
  telescope: SKA-mid
  ska-tango-base:
    enabled: false
  deviceServers:
    dishleafnode:
      enabled: true
      resources:
        limits:
          memory: 3000Mi
        requests:
          cpu: 200m
          memory: 300Mi
    mocks:
      enabled: false
      dish: false
      csp: false
      sdp: false
    centralnode:
      DishVccConfig:
        DishVccUri: "car://gitlab.com/ska-telescope/ska-telmodel-data?0.2.0-mid-itf#tmdata"
        DishVccFilePath: "instrument/ska1_mid_itf/ska-mid-cbf-system-parameters.json"
    subarraynode:
      CspScanInterfaceURL: "https://schema.skao.int/ska-csp-scan/2.2"


##tangoGQL
ska-tango-tangogql:
  enabled: true
  ska-tango-base:
    enabled: false
#=== EDA ===#
ska-tango-archiver:
  #hostname: eda.ska-tango-archiver - Updating this from Makefile
  dbname: mid_sw_integration_eda
  dbuser: admin
  # dbpassword - this is set from the pipeline
  port: 5432
  vault:
    secretPath: "kv/data/users/kvsudhirreddy/archiver"
    secretMount: kv
  telescope: SKA-mid
  telescope-environment: MID-STFC
  # archwizard_config: MyHDB=tango://tango-databaseds.test-environment.svc.lowitf.internal.skao.int:10000/low-eda/cm/01 - Updating this from Makefile